//
// Variables
// --------------------------------------------------


// Select2
// --------------------------------------------------

@select2-height-base:                  @input-height-base - 2;
@select2-search-icon:                  "\f002";
@select2-search-background:            @brand-primary;
@select2-search-color:                 #fff;
@select2-search-border-color:          transparent;
@select2-search-border-bottom-color:   lighten(@select2-search-background, 32%);
@select2-btn-color:                    @input-color;
@select2-btn-border:                   @input-border;
@select2-btn-bg:                       @input-bg;
@select2-btn-hover-bg:                 darken(@select2-btn-bg, 5%);
@select2-mask-bg:                      rgba(32,32,32,0.7);
@zindex-select2-mask:                  @zindex-modal;
@zindex-select2-responsive:            @zindex-select2-mask + 1;
@zindex-select2-mask-opening:          @zindex-select2-responsive + 1;
@select2-responsive-padding:           10%;
@select2-responsive-padding-landscape: 15%;
